@import "tailwindcss";
@layer components {
    /* === MOBILE === */
    /* Header */
    header {
        @apply bg-red-900 text-gray-200 w-full shadow-xl flex flex-col items-center py-4 px-6 sticky top-0 z-50;
    }

    header h1 {
        @apply text-3xl font-semibold text-white mb-2 text-center;
    }

    header nav {
        @apply flex flex-wrap justify-center gap-4 text-base text-white;
    }

    /* Section */
    .hero-1 {
        @apply relative w-full h-auto scroll-mt-28 overflow-hidden;
    }

    .hero-2 {
        @apply relative w-full bg-white py-12 px-6 scroll-mt-28 md:scroll-mt-16;
    }

    /* Swiper */
    .swiper {
        @apply h-[40vh];
    }

    .swiper-slide {
        @apply h-full relative;
    }

    .swiper-slide img {
        @apply w-full h-full object-cover;
    }

    /* Slide caption */
    .caption {
        @apply absolute bottom-0 left-0 w-full px-4 py-4 text-white text-lg bg-gradient-to-t from-emerald-900/80 to-emerald-900/0;
    }

    /* Glass box */
    /* Positioning wrapper */
    .box-wrapper {
        @apply z-10; 
    }

    /* Core glass box component (mobile) */
    .box {
        @apply text-white bg-emerald-900 shadow-lg max-w-full p-6; 
    }

    .glass-wrapper {
        @apply z-10; 
    }

    /* Core glass box component (mobile) */
    .glass-box {
        @apply text-white bg-emerald-900 shadow-lg max-w-full p-6; 
    }

    /* Inner content */
    .h2-glass-box {
        @apply text-3xl font-semibold mb-4
    }

    .glass-content {
        @apply text-lg drop-shadow-[0.1rem_0.1rem_2px_black];
    }

    /* Divider */
    .section-divider {
        @apply w-full h-16 bg-red-900 shadow-xl relative z-40;
    }

    /* Line separator */
    .line-separator {
        @apply border-t border-gray-200 mt-8 mb-8
    }

    /* h2 non-glassbox */
    .h2-hero {
        @apply text-3xl font-bold text-gray-800 mb-6
    }

    /* Day/time */
    .day-time {
        @apply flex justify-between
    }

    /* Contact */
    .contact-detail {
        @apply flex items-center gap-2 text-gray-600 text-sm
    }
    .contact-detail-title {
        @apply text-lg font-medium
    }

    /* Animation */
    /* Left slide animation */
    .slide-in-left {
        @apply opacity-0 -translate-x-16 transition-all duration-700 ease-out;
    }

    .slide-in-left.is-visible {
        @apply opacity-100 translate-x-0;
    }

    /* Right side animation */
    .slide-in-right {
        @apply opacity-0 translate-x-16 transition-all duration-700 ease-out;
    }

    .slide-in-right.is-visible {
        @apply opacity-100 translate-x-0;
    }

    /* === DESKTOP & TABLETS === */
    /* Header (desktop) */
    @variant md {
        header {
            @apply flex-row justify-between items-center h-30 px-12 sticky top-0 z-50;
        }

        header h1 {
            @apply mb-0 text-left;
        }

        header nav {
            @apply flex-row gap-6 text-base;
        }

        .landing-hero {
            @apply h-screen grid grid-cols-[3fr_1fr] bg-[#EDF0DA] items-center;
        }

        .hero {
            @apply relative h-screen scroll-mt-16;
        }

        .swiper {
            @apply h-3/4 w-full shadow-2xl ring-1 ring-black/10;
        }

        .box-wrapper {
            @apply static flex h-3/4;
        }

        .box {
            @apply w-full shadow-2xl ring-1 ring-black/10 flex flex-col justify-center;
        }

        .glass-wrapper {
            @apply absolute top-40 right-10;
        }

        .glass-box {
            @apply backdrop-blur-sm bg-emerald-900/50 border border-emerald-200/30 rounded-sm max-w-lg max-h-[70vh];
        }

        .img_container {
            @apply w-full h-full flex flex-row justify-center items-center overflow-hidden;
        }

        .img_container img {
            @apply w-full h-full object-cover object-center;
        }
    }
}

.swiper-button-prev,
.swiper-button-next {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;                    
    background-color: rgba(4, 81, 49, 0.5); 
    backdrop-filter: blur(6px);           
    border: 1px solid rgba(164, 243, 235, 0.3);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transition: background-color 0.2s ease, transform 0.2s ease;
    color: transparent;                      /* hides default Swiper arrow */
    z-index: 50;                            
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}

/* Hover effect */
.swiper-button-prev:hover,
.swiper-button-next:hover {
    background-color: rgba(4, 81, 49, 0.7);
    transform: scale(1.05);
}

/* Set chevrons */
.swiper-button-prev {
    background-image: url('./assets/ico/icons8-chevron-50-prev.png');
}

.swiper-button-next {
    background-image: url('./assets/ico/icons8-chevron-50-next.png');
}

/* very ugly icl */
@media (max-width: 768px) {
    .swiper-button-prev,
    .swiper-button-next {
        display: none;
    }
}

/* Animation of first slide */
.hero-fade {
    opacity: 0;
    transition: opacity 700ms ease-out;
}

.hero-fade.is-visible {
    opacity: 1;
}

@layer base {
    html {
        scroll-behavior: smooth;
        font-family: 'Inter', sans-serif;
        font-feature-settings: 'liga' 1, 'calt' 1;
    }
    @supports (font-variation-settings: normal) {
        html {
            font-family: 'InterVariable', sans-serif;
        }
    }
    h1 {
        font-family: "Texturina", serif;
        font-weight: 700;
        font-optical-sizing: auto;
    }
    h2 {
        font-family: "Texturina", serif;
        font-weight: 500;
        font-optical-sizing: auto;
    }
}